<div class="main">
    <div class="container">
        <br><br>
        <div class="row">
            <h1 style="text-align: center;">Deep Slotting

            </h1>
            <div class="col-lg-3">
                <br><br><br><br>
                <ul style="list-style: none;">
                    <li class="active list" [routerLink]="['/home']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Home</li>

                    <li class="active list" [routerLink]="['/product']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i> Products
                    </li>
                    
                    <li class="active list" [routerLink]="['/deepslotting']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i>
                        Deep Slotting
                    </li>
                    <li class="active list" [routerLink]="['/narrowslotting']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Narrow Slotting</li>
                    <li class="active list" [routerLink]="['/woodruffcutter']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Woodruff Cutter</li>
                    <li class="active list" [routerLink]="['/longreachcutter']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Long Reach T-slot Cutter)</li>


                    <!-- <li class="list" [routerLink]="['/about']" (click)="scroll()"><i
                            class="fas fa-address-card fa-lg"></i>
                        About</li>
                    <br>
                    <li class="list" [routerLink]="['/service']" (click)="scroll()"> <i
                            class="fas fa-solid fa-server fa-lg"></i> Service </li>
                    <br>
                    <li class="list" [routerLink]="['/product']" (click)="scroll()"> <i class="far fa-folder-open"></i>
                        Products </li>
                    <br>

                    <li class="list" [routerLink]="['/client']" (click)="scroll()"> <i
                            class="fas fa-users-gear fa-lg"></i>
                        Clients</li>
                    <br>
                    <li class="list" [routerLink]="['/contact']" (click)="scroll()"><i
                            class="fas fa-solid fa-address-book fa-lg"></i> Contact</li>
                    <br> -->

                    <br>
                </ul>
            </div><br>

            <div class="col-lg-9">
                <div class="container">
                    <br><br><br>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/deep-slotting.jpg" alt="">
                        </div><br>
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/deep-slotting1.jpg" alt="">
                        </div><br>
                    </div> <br>
                    <div class="row">
                        <p class="para">
                            I have a job to quote that requires 15 slots 3 inches in length in 6061. Each slot is .29
                            wide by 2.9 deep. The fin between each slot is .06. the slots are open on each end.
                            <br><br>
                            I am milling a demo piece right now using a relieved .25 3 flute alumistar with .25 flute
                            length.
                            <br>
                            It doesn't seem to unhappy but it's pretty dang slow. Obviously, when I run actual parts I
                            would start with a stub and work my way up in length while I decrease feeds and speeds.
                            <br><br>
                            Have any of you guys found plunge milling to work in an application like this? Perhaps
                            milling the first inch or so with regular feeds/speeds then switch over to a plunge pattern?
                            I would still only be able to plunge .075 or .1 at at a time before I finish mill each fin
                            each step down.
                        </p> <br><br>
                    </div>
                </div> <br> <br>
            </div>
        </div>
    </div>
</div>