/* .main {
    background-image: url('/assets/video.gif');
    background-color: rgba(0, 0, 0, 0.779);
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: cover;
   
    color: white;
} */

.text{
    color: white;
}

.list {
    border: 1px solid #777777c6;
    padding: 3%;
    color: #f37d40;
    font-size: larger;
}

.list:hover {
    cursor: pointer;
}

h1 {
    color: #f37d40;
}

h3 {
    text-align: center;
}

h4,
h5 {
    text-align: center;
    text-decoration: underline;
    color: #f37d40;
}

li,
p {
    text-align: justify;

}

.text {
    padding: 2%;
}




.menu {
    margin-inline-end: 5px;
}

.liss {
    border: 1px solid #777777c6;
    padding: 2% 1% 2% 1%;
    color: #f37d40;
    text-align: center;
}

.fa-linkedin {
    color: #0072b1;
}

.fa-facebook-f {
    color: blue;
}

.fa-instagram {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ta :hover+.para {
    display: block;
}

.tax {
    padding: 2%;
    text-align: center;
}

.para {
    /* display: none; */
    text-align: justify;
}


