<div class="main">
    <div class="container">
        <br><br>
        <div class="row">
            <h1 style="text-align: center;">Rougher Endmill</h1>
            <div class="col-lg-3">
                <br><br><br><br>
                <ul style="list-style: none;">
                    <li class="active list" [routerLink]="['/home']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Home</li>
                    <li class="active list" [routerLink]="['/product']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i> Products
                    </li>
                    <li class="active list" [routerLink]="['/stadardendmill']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i>
                        Standard Endmill
                    </li>
                    <li class="active list" [routerLink]="['/extralongendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Extra-long Series Endmill</li>
                    <li class="active list" [routerLink]="['/microendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Micro Fine Solid carbide Endmill</li>
                    <li class="active list" [routerLink]="['/rougherendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Rougher Endmill</li>
                    <li class="active list" [routerLink]="['/ballnoseendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Ball Nose Endmill</li>
                    <li class="active list" [routerLink]="['/stependmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Step Endmill</li>
                    <li class="active list" [routerLink]="['/radiusendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Radius Endmill/Bullnose</li>
                    <li class="active list" [routerLink]="['/taperendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Taper Endmill</li>
                    <li class="active list" [routerLink]="['/holeendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Holemill</li>
                    <li class="active list" [routerLink]="['/throughcoolestendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Through Coolent Endmills</li>

                    <!-- <li class="list" [routerLink]="['/about']" (click)="scroll()"><i
                            class="fas fa-address-card fa-lg"></i>
                        About</li>
                    <br>
                    <li class="list" [routerLink]="['/service']" (click)="scroll()"> <i
                            class="fas fa-solid fa-server fa-lg"></i> Service </li>
                    <br>
                    <li class="list" [routerLink]="['/product']" (click)="scroll()"> <i class="far fa-folder-open"></i>
                        Products </li>
                    <br>

                    <li class="list" [routerLink]="['/client']" (click)="scroll()"> <i
                            class="fas fa-users-gear fa-lg"></i>
                        Clients</li>
                    <br>
                    <li class="list" [routerLink]="['/contact']" (click)="scroll()"><i
                            class="fas fa-solid fa-address-book fa-lg"></i> Contact</li>
                    <br> -->

                    <br>
                </ul>
            </div><br>

            <div class="col-lg-9">
                <div class="container">
                    <br><br><br>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/rougher-endmill.jpg" alt="">
                        </div><br>
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/rougher-endmill1.jpg" alt="">
                        </div><br>
                    </div> <br>
                    <div class="row">
                        <p class="para">Select JD Cutting Tools roughing end mills for difficult roughing of hardened
                            steels or high velocity milling of aluminum and other non-ferrous materials.
                            <br> <br>
                            These 20 degree helix tools in both coarse and fine pitch tools are made from sub
                            micro-grain carbide and designed for either wet or dry high speed milling applications in
                            either tool or hardened steel.

                            <br> <br>
                            The unique flute design of 3 and 4 superior flutes finish with TiALN and Hardcut coating,
                            will achieve optimal roughing at high feed rate and heavy cutting loads.
                        </p> <br><br>
                    </div>
                </div> <br> <br>
            </div>
        </div>
    </div>
</div>