<div class="main">
    <div class="container">
        <br><br>
        <div class="row">
            <h1 style="text-align: center;">Our Clients</h1>
            <div class="col-lg-2  col-md-12 ">
                <br><br> <br><br>
                <ul style="list-style: none;">
                    <li class="active list" [routerLink]="['/home']" (click)="scroll()"><i
                            class="fas fa-house fa-lg"></i>
                        Home</li>
                    <br>
                    <li class="list" [routerLink]="['/about']" (click)="scroll()"><i
                            class="fas fa-address-card fa-lg"></i>
                        About</li>
                    <br>
                    <li class="list" [routerLink]="['/service']" (click)="scroll()"> <i
                            class="fas fa-solid fa-server fa-lg"></i> Service </li>
                    <br>
                    <li class="list" [routerLink]="['/product']" (click)="scroll()"> <i class="far fa-folder-open"></i>
                        Product </li>
                    <br>

                    <li class="list" [routerLink]="['/client']" (click)="scroll()"> <i
                            class="fas fa-users-gear fa-lg"></i>
                        Clients</li>
                    <br>

                    <li class="list" [routerLink]="['/contact']" (click)="scroll()"><i
                            class="fas fa-solid fa-address-book fa-lg"></i> Contact</li>
                    <br>
                    <br>
                </ul>

            </div><br>

            <div class="col-lg-10"><br><br>
                <h1>clients</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img class="" src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft  ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="col-lg-2  col-md-3 ">
                            <div class="card animate__animated animate__fadeInLeft ">
                                <div class="card-body">
                                    <img src="/assets/clients/1.png" alt="">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>