<div class="main">
    <div class="container">
        <br><br>
        <div class="row">
            <h1 style="text-align: center;">Woodruff cutter</h1>
            <div class="col-lg-3">
                <br><br><br><br>
                <ul style="list-style: none;">
                    <li class="active list" [routerLink]="['/home']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Home</li>

                    <li class="active list" [routerLink]="['/product']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i> Products
                    </li>
                    
                    <li class="active list" [routerLink]="['/deepslotting']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i>
                        Deep Slotting
                    </li>
                    <li class="active list" [routerLink]="['/narrowslotting']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Narrow Slotting</li>
                    <li class="active list" [routerLink]="['/woodruffcutter']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Woodruff Cutter</li>
                    <li class="active list" [routerLink]="['/longreachcutter']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Long Reach T-slot Cutter)</li>


                    <!-- <li class="list" [routerLink]="['/about']" (click)="scroll()"><i
                            class="fas fa-address-card fa-lg"></i>
                        About</li>
                    <br>
                    <li class="list" [routerLink]="['/service']" (click)="scroll()"> <i
                            class="fas fa-solid fa-server fa-lg"></i> Service </li>
                    <br>
                    <li class="list" [routerLink]="['/product']" (click)="scroll()"> <i class="far fa-folder-open"></i>
                        Products </li>
                    <br>

                    <li class="list" [routerLink]="['/client']" (click)="scroll()"> <i
                            class="fas fa-users-gear fa-lg"></i>
                        Clients</li>
                    <br>
                    <li class="list" [routerLink]="['/contact']" (click)="scroll()"><i
                            class="fas fa-solid fa-address-book fa-lg"></i> Contact</li>
                    <br> -->

                    <br>
                </ul>
            </div><br>

            <div class="col-lg-9">
                <div class="container">
                    <br><br><br>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/woodruff-cutter.jpg" alt="">
                        </div><br>
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/woodruff-cutter1.jpg" alt="">
                        </div><br>
                    </div> <br>
                    <div class="row">
                        <p class="para">

                            Woodruff cutters are used for milling (cutting or shaping) woodruff key slots in materials
                            such as steel and aluminium. Woodruff key slots are a pocket intended to accommodate a key -
                            an element used to connect a rotating machine element to a shaft. The whole system is called
                            a keyed joint. A keyed joint allows two joined parts to move securely.
                            <br><br>
                            <b> How do woodruff cutters work?</b> <br>
                            Woodruff cutters are fitted to your milling cutting tool. They have staggered teeth on one
                            side for cutting and shaping. This staggered teeth design is important because it reduces
                            chatter (vibration) and removes more metal at higher speeds than straight teeth woodruff
                            cutters.
                            <br><br>
                            <b> What are woodruff cutters used for?</b> <br>
                            Woodruff cutters can also be used to saw, drill, channel grooves, cut and produce tapered
                            cut-out sections in soft materials, plastics and wood.
                            <br>
                            Common keyed components in engineering which typically involve the use of woodruff cutters
                            include gears, pulleys, couplings and washers. Common applications include machine tools and
                            automotive applications.
                        </p> <br><br>
                    </div>
                </div> <br> <br>
            </div>
        </div>
    </div>
</div>