<div class="main">
    <div class="container">
        <br><br>
        <div class="row">
            <h1 style="text-align: center;">ABOUT US</h1>
            <div class="col-lg-2">
                <br><br><br>
                <ul style="list-style: none;">
                    <li class="active list" [routerLink]="['/home']" (click)="scroll()"><i
                            class="fas fa-house fa-lg"></i>
                        Home</li>
                    <br>
                    <li class="list" [routerLink]="['/about']" (click)="scroll()"><i
                            class="fas fa-address-card fa-lg"></i>
                        About</li>
                    <br>
                    <li class="list" [routerLink]="['/service']" (click)="scroll()"> <i
                            class="fas fa-solid fa-server fa-lg"></i> Service </li>
                    <br>
                    <li class="list" [routerLink]="['/product']" (click)="scroll()"> <i class="far fa-folder-open"></i>
                        Products </li>
                    <br>

                    <li class="list" [routerLink]="['/client']" (click)="scroll()"> <i
                            class="fas fa-users-gear fa-lg"></i>
                        Clients</li>
                    <br>

                    <li class="list" [routerLink]="['/contact']" (click)="scroll()"><i
                            class="fas fa-solid fa-address-book fa-lg"></i> Contact</li>
                    <br>

                    <br>
                </ul>
            </div><br>

            <div class="col-lg-10"><br>
                <div class="text">
                    <!-- <h3>CARBIDE TOOLS</h3> -->
                    <br>
                    <p>At Riya Enterprises, we deliver precision-engineered carbide tools designed to meet the highest
                        industry standards. Established in 2017, Durga Tool has grown into a trusted name in the tooling
                        industry, serving clients across various sectors including aerospace, automotive, medical, and
                        general manufacturing.
                    </p>
                    <br>
                    <h5>Why Choose Us: </h5>
                    <p>
                        <li> <i class="fa-sharp fa fa-angles-right fa-lg"></i>
                            <b> Comprehensive Product Range :</b>
                            <p>From carbide end mills and drills to inserts and custom
                                tools, we offer a wide variety of solutions.</p>
                        </li>

                        <li> <i class="fa-sharp fa fa-angles-right fa-lg"></i>
                            <b>Custom Solutions: </b>
                            <p>We understand that every business has unique requirements. Our
                                engineers
                                collaborate with clients to create custom carbide tools tailored to specific needs.</p>

                        </li>
                        <li> <i class="fa-sharp fa fa-angles-right fa-lg"></i>
                            <b> Global Reach:</b>
                            <p>With a strong distribution network, Riya Enterprises Tool serves customers
                                across the globe, ensuring timely delivery and unmatched support.</p>
                        </li>
                        <li> <i class="fa-sharp fa fa-angles-right fa-lg"></i>
                            <b> Innovation-Driven:</b>
                            <p> We are always at the forefront of industry trends and advancements,
                                incorporating the latest technologies into our manufacturing processes.</p>
                        </li><br>
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-3 animate__animated animate__backInDown">
                        <div class="card ">
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 [routerLink]="['/mission']">Our Mission </h5>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-3 animate__animated animate__backInUp">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 [routerLink]="['/mission']">Our Values </h5>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-3 animate__animated animate__backInDown">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 [routerLink]="['/mission']">Our Capabilities </h5>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-3 ">
                        <div class="card animate__animated animate__backInUp">
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 [routerLink]="['/mission']">Our Strength </h5>
                                </div>
                            </div>
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
</div>