/* .main {
    background-image: url('/assets/video.gif');
    background-color: rgba(0, 0, 0, 0.779);
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: cover;
   
    color: white;
} */

.list {
    border: 1px solid #777777c6;
    padding: 3%;
    color: #f37d40;
    font-size: larger;
    text-align: center;
}

.list:hover {
    cursor: pointer;
}

h1 {
    color: #f37d40;
}

h3 {
    text-align: center;
}

h4,
h5 {
    text-align: center;
    text-decoration: underline;
    color: #f37d40;
}

li,
p {
    text-align: justify;

}

.text {
    padding: 2%;
}

img {
    width: 100%;
}


.menu {
    margin-inline-end: 5px;
}

.liss {
    border: 1px solid #777777c6;
    padding: 2% 1% 2% 1%;
    color: #f37d40;
    text-align: center;
}

.fa-linkedin {
    color: #0072b1;
}

.fa-facebook-f {
    color: blue;
}

.fa-instagram {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ta :hover+.para {
    display: block;
}

.tax {
    padding: 2%;
    text-align: center;
}

.para {
    /* display: none; */
    text-align: justify;
}




.card {
    border-radius: 16px;
    max-width: 100%;
    height: auto;
    /* background: url(https://picsum.photos/360/360?image=0); */
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
}

.card:hover {
    cursor: pointer;
}

.card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.92);
}

.card .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.card .img span {
    width: 100%;
    height: 100%;
    /* background: url('/assets/services/Interior-Designing.jpg'); */
    transition: 0.5s;
}

.card .img span:nth-child(1) {
    background-position: 0;
    transition-delay: 0;
}

.card .img span:nth-child(2) {
    background-position: 33.33333%;
    transition-delay: 0.1s;
}

.card .img span:nth-child(3) {
    background-position: 66.66666%;
    transition-delay: 0.2s;
}

.card .img span:nth-child(4) {
    background-position: 100%;
    transition-delay: 0.3s;
}

.card:hover .img>span {
    transform: translateY(-100%);
}

.card:hover .content {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: 0.1s;
}

.content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}