<div class="main">
    <div class="container">
        <br><br>
        <div class="row">
            <h1 style="text-align: center;">Our Services</h1>
            <div class="col-lg-2">
                <br><br><br><br>
                <ul style="list-style: none;">
                    <li class="active list" [routerLink]="['/home']" (click)="scroll()"><i
                            class="fas fa-house fa-lg"></i>
                        Home</li>
                    <br>
                    <li class="list" [routerLink]="['/about']" (click)="scroll()"><i
                            class="fas fa-address-card fa-lg"></i>
                        About</li>
                    <br>
                    <li class="list" [routerLink]="['/service']" (click)="scroll()"> <i
                            class="fas fa-solid fa-server fa-lg"></i> Service </li>
                    <br>
                    <li class="list" [routerLink]="['/product']" (click)="scroll()"> <i class="far fa-folder-open"></i>
                        Products </li>
                    <br>

                    <li class="list" [routerLink]="['/client']" (click)="scroll()"> <i
                            class="fas fa-users-gear fa-lg"></i>
                        Clients</li>
                    <br>
                    <li class="list" [routerLink]="['/contact']" (click)="scroll()"><i
                            class="fas fa-solid fa-address-book fa-lg"></i> Contact</li>
                    <br>

                    <br>
                </ul>
            </div><br>

            <div class="col-lg-10">
                <div class="container">
                    <br><br><br>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-6">
                            <h5><b>RE-GRINDING</b></h5>
                            <div class="card">
                                <div class="img">
                                    <span><img src="/assets/services/2.png" alt=""></span>
                                    <!-- <span><img src="/assets/services/2.png" alt=""></span> -->
                                </div>
                                <div class="content">
                                    <h5><b>RE-GRINDING</b></h5>
                                    <p>Orient tools regrinding service specializes in making used high performance
                                        cutting tools new again far less than the price of new tool.</p>
                                    <ul>
                                        <li>Accurate as 90% of the original Tool life:</li>
                                        <li>Rduction in overall tooling cost.:</li>
                                        <li>A similar inventory due to quick service. :</li>
                                        <li>Performance almost as good as a new tool.:</li>
                                    </ul>
                                </div>
                            </div><br>

                        </div>
                        <br>

                        <div class="col-lg-5 col-md-6">
                            <h5><b>RE-COATING </b></h5>
                            <div class="card">
                                <div class="img">
                                    <span><img src="/assets/services/1.png" alt=""></span>
                                </div>
                                <div class="content">
                                    <h5><b>RE-COATING</b></h5>
                                    <p>To suit specific application for various
                                        cutting tools with all kinds of geometries.</p>
                                    <ul>
                                        <li>Increased tool life:</li>
                                        <li>Improve tool behavior:</li>
                                        <li>Lower friction coefficient:</li>
                                        <li>Increase productivity:</li>
                                        <li>Give higher machining accuracy:</li>  
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>