<div class="main">
    <div class="text-center">
        <img src="/assets/logo.png" height="200" alt="">

    </div><br>
    <div class="container">
        <div class="row ">
            <div class="col-2">
                <ul class="ul"><br><br> <br>
                    <li [routerLink]="['/home']" class="animate__animated animate__fadeInLeft"><i
                            class="fas fa-house  fa-2x "></i><br> Home</li>
                    <li [routerLink]="['/about']" class="animate__animated animate__fadeInLeft"><i
                            class="fas fa-address-card  fa-2x"></i><br> About</li>
                    <li [routerLink]="['/service']" class="animate__animated  animate__fadeInLeft"><i
                            class="fas fa-solid fa-server  fa-2x"></i><br> Services</li>
                </ul>
            </div>
            <div class="col-8">
                <h2 style="text-align: center;">CARBIDE TOOLS</h2> <br>

                <div class="div">
                    <p>We atCARBIDE TOOLS Provide Interior
                        Designing and Turnkey Contracting services as a single window solution to our
                        clients for Commercial and Industrial premises.
                    </p>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, laboriosam cumque rerum
                        veniam qui autem quo, magnam deserunt minus pariatur sit architecto, libero porro labore officia
                        omnis error totam? Numquam?<br>
                    </p>
                    <p> Our years of experience to deliver large size projects with high end quality
                        finishes and in given time lines has helped us to get the repeat orders.</p>

                    <div class="hometext">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem id, debitis porro autem
                            eius qui, ipsam consequuntur illum deleniti cum, repudiandae doloribus harum eos velit odit
                            laudantium fugiat consequatur distinctio?.</p>
                    </div>
                </div>

                <br><br>

            </div>

            <div class="col-2">
                <ul class="ul"><br><br> <br>
                    <li [routerLink]="['/product']" class="animate__animated  animate__fadeInRight"><i
                            class="far fa-folder-open fa-2x"></i><br> Products</li>
                    <li [routerLink]="['/client']" class="animate__animated  animate__fadeInRight"><i
                            class="fas fa-users-gear fa-2x"></i><br> Clients</li>
                    <li [routerLink]="['/contact']" class="animate__animated animate__fadeInRight"><i
                            class="fas fa-solid fa-address-book  fa-2x"></i><br> Contact Us
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>