<footer class="text-center text-white">
    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="menu" href="https://facebook.com/" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a>
            <a class="menu" href="https://linkedin.com/" target="_blank"> <i class="fab fa-linkedin fa-2x"></i></a>
            <a class="menu" href="https://instagram.com/" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <div class="row">

            <div class="col-md-4">
                <div class="text-start">
                    <a href="http://plastic.jalaramgroup.info/" target="_blank"><img src="/assets/plasticlogo.png"
                            alt="" width="200"> </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center">
                    Gala No. B/29, Pavana industrial Complex, MIDC, Bhosari, Pune-411026
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-end">
                    <a href="http://jalaramgroup.info/" target="_blank"> <img src="/assets/logo1-1.png" alt=""
                            width="200"></a>
                </div>
            </div>

        </div>

        <!-- Grid container -->

        <!-- Copyright -->
        <hr>
        <div class="text-start">
            Copyright © 2017 All rights reserved by Pvt. Ltd
            <span style="float: right;">Powered By:<a target="_blank" href="https://fourthdm.com/"><img width="100"
                        src="/assets/4thdmlogo.jpg" alt=""></a></span>
            <br>
        </div>

    </div>
    <br>
    <!-- Copyright -->
</footer>