<div class="main">
    <div class="container">
        <br><br>
        <div class="row">
            <h1 style="text-align: center;">Holemill</h1>
            <div class="col-lg-3">
                <br><br><br><br>
                <ul style="list-style: none;">
                    <li class="active list" [routerLink]="['/home']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Home</li>
                    <li class="active list" [routerLink]="['/product']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i> Products
                    </li>
                    <li class="active list" [routerLink]="['/stadardendmill']" (click)="scroll()">
                        <i class="fa-solid fa-angles-right"></i>
                        Standard Endmill
                    </li>
                    <li class="active list" [routerLink]="['/extralongendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Extra-long Series Endmill</li>
                    <li class="active list" [routerLink]="['/microendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Micro Fine Solid carbide Endmill</li>
                    <li class="active list" [routerLink]="['/rougherendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Rougher Endmill</li>
                    <li class="active list" [routerLink]="['/ballnoseendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Ball Nose Endmill</li>
                    <li class="active list" [routerLink]="['/stependmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Step Endmill</li>
                    <li class="active list" [routerLink]="['/radiusendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Radius Endmill/Bullnose</li>
                    <li class="active list" [routerLink]="['/taperendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Taper Endmill</li>
                    <li class="active list" [routerLink]="['/holeendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Holemill</li>
                    <li class="active list" [routerLink]="['/throughcoolestendmill']" (click)="scroll()"><i
                            class="fa-solid fa-angles-right"></i>
                        Through Coolent Endmills</li>

                    <!-- <li class="list" [routerLink]="['/about']" (click)="scroll()"><i
                            class="fas fa-address-card fa-lg"></i>
                        About</li>
                    <br>
                    <li class="list" [routerLink]="['/service']" (click)="scroll()"> <i
                            class="fas fa-solid fa-server fa-lg"></i> Service </li>
                    <br>
                    <li class="list" [routerLink]="['/product']" (click)="scroll()"> <i class="far fa-folder-open"></i>
                        Products </li>
                    <br>

                    <li class="list" [routerLink]="['/client']" (click)="scroll()"> <i
                            class="fas fa-users-gear fa-lg"></i>
                        Clients</li>
                    <br>
                    <li class="list" [routerLink]="['/contact']" (click)="scroll()"><i
                            class="fas fa-solid fa-address-book fa-lg"></i> Contact</li>
                    <br> -->

                    <br>
                </ul>
            </div><br>

            <div class="col-lg-9">
                <div class="container">
                    <br><br><br>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/holemill.jpg" alt="">
                        </div><br>
                        <div class="col-6">
                            <img src="https://www.jdcuttingtools.com/images/product/holemill1.jpg" alt="">
                        </div><br>
                    </div> <br>
                    <div class="row">
                        <p class="para">Modern solid carbide drills produce holes in a tolerance zone of H8-H10; in
                            which case the hole axis is accurate in half this tolerance. For eg:- A dia 10 hole drilled
                            hole is between 22-45 microns which means the axis is controlled within 11-22 microns.
                            <br><br>
                            Reamed holes are accurate having a tolerance of H6-H7 i.e. for dia 10 :-11 to 16 microns, so
                            it is obvious that to produce such an accurate hole , the hole axis has to be more accurate
                            than 11-22 microns which is possible with a modern solid carbide drill, hence for such
                            accurate holes it is a preferred process to Hole-mill & then Ream.
                            <br><br>
                            A Hole-mill is normally an undersized reamer with a boring geometry i.e. the size of the
                            hole-mill is normally 0.2-0.6mm more than the size of the drill so that there are no drill
                            marks on the hole plus the hole axis is corrected for subsequent reaming operation.
                        </p> <br><br>
                    </div>
                </div> <br> <br>
            </div>
        </div>
    </div>
</div>